# This file is managed by Salt.
# Manual changes might be overwritten.
# These settings override those internal to the application.

{%- load_yaml as envvars %}

PORT: {{ changedetect.config.env.port }}
PUID: {{ changedetect.lookup.container.changedetection.puid }}
PGID: {{ changedetect.lookup.container.changedetection.pgid }}

ALLOW_FILE_URI: {{ changedetect.config.env.allow_file_uri | int }}
BASEURL: {{ changedetect.config.env.base_url }}
DEFAULT_FETCH_BACKEND: {{ changedetect.config.env.default_fetch_backend }}
FETCH_WORKERS: {{ changedetect.config.env.fetch_workers }}
HTTP_PROXY: {{ changedetect.config.env.http_proxy }}
HTTPS_PROXY: {{ changedetect.config.env.https_proxy }}
MINIMUM_SECONDS_RECHECK_TIME: {{ changedetect.config.env.minimum_seconds_recheck_time }}
NO_PROXY: {{ changedetect.config.env.no_proxy | join(",") }}
NOTIFICATION_MAIL_BUTTON_PREFIX: {{ changedetect.config.env.notification_mail_button_prefix }}
SALTED_PASS: {{ changedetect.config.env.salted_pass }}
SETTINGS_HEADERS_USERAGENT: {{  changedetect.config.env.settings_headers_useragent }}
SETTINGS_REQUESTS_TIMEOUT: {{  changedetect.config.env.settings_requests_timeout }}
SETTINGS_REQUESTS_WORKERS: {{  changedetect.config.env.settings_requests_workers }}
USE_X_SETTINGS: {{ changedetect.config.env.use_x_settings | int }}

{%-   if changedetect.selenium.enable %}

WEBDRIVER_URL: http://{{ changedetect._selenium_chrome_host }}:4444/wd/hub
WEBDRIVER_DELAY_BEFORE_CONTENT_READY: {{ changedetect.selenium.delay_before_content_ready }}

webdriver_proxyAutoconfigUrl: {{ changedetect.selenium.proxy.autoconfig_url }}
webdriver_autodetect: {{ changedetect.selenium.proxy.autodetect }}
webdriver_ftpProxy: {{ changedetect.selenium.proxy.ftp }}
webdriver_httpProxy: {{ changedetect.selenium.proxy.http }}
webdriver_noProxy: {{ changedetect.selenium.proxy.no_proxy | join(", ") }}
webdriver_socksProxy: {{ changedetect.selenium.proxy.socks }}
webdriver_socksUsername: {{ changedetect.selenium.proxy.socks_username }}
webdriver_socksPassword: {{ changedetect.selenium.proxy.socks_password }}
webdriver_socksVersion: {{ changedetect.selenium.proxy.socks_version }}
webdriver_sslProxy: {{ changedetect.selenium.proxy.ssl }}
{%-   endif %}

{%-   if changedetect.playwright.enable %}

PLAYWRIGHT_DRIVER_URL: ws://{{ changedetect._playwright_chrome_host }}:3000/
PLAYWRIGHT_BROWSER_TYPE: {{ changedetect.playwright.browser_type }}
PLAYWRIGHT_SCREENSHOT_QUALITY: {{ changedetect.playwright.screenshot_quality }}

playwright_proxy_bypass: {{ changedetect.playwright.proxy.bypass | join(", ") }}
playwright_proxy_username: {{ changedetect.playwright.proxy.username }}
playwright_proxy_password: {{ changedetect.playwright.proxy.password }}
playwright_proxy_server: {{ changedetect.playwright.proxy.server }}
{%-   endif %}
{%- endload %}

{% for var, val in envvars.items() %}
{#- changedetection just does `if os.getenv("VAR")`
    so do not set values that are falsey -#}
{%-   if val %}
{{ var }}={{ val }}
{%-   endif %}
{%- endfor %}
