# This file is managed by Salt.
# Manual changes might be overwritten.

{%- load_yaml as envvars %}

CHROME_REFRESH_TIME: {{ changedetect.playwright.browserless_chrome.chrome_refresh_time }}
CONNECTION_TIMEOUT: {{ changedetect.playwright.browserless_chrome.connection_timeout }}
DEFAULT_BLOCK_ADS: {{ changedetect.playwright.browserless_chrome.default_block_ads }}
DEFAULT_STEALTH: {{ changedetect.playwright.browserless_chrome.default_stealth }}
ENABLE_DEBUGGER: {{ changedetect.playwright.browserless_chrome.enable_debugger }}
MAX_CONCURRENT_SESSIONS: {{ changedetect.playwright.browserless_chrome.max_concurrent_sessions }}
PREBOOT_CHROME: {{ changedetect.playwright.browserless_chrome.preboot_chrome }}
SCREEN_WIDTH: {{ changedetect.playwright.browserless_chrome.screen.width }}
SCREEN_HEIGHT: {{ changedetect.playwright.browserless_chrome.screen.height }}
SCREEN_DEPTH: {{ changedetect.playwright.browserless_chrome.screen.depth }}
{%- endload %}

{% for var, val in envvars.items() %}
{%-   if val %}
{{ var }}={{ val }}
{%-   endif %}
{%- endfor %}
