# This file is managed by Salt.
# Manual changes might be overwritten.

{%- load_yaml as envvars %}

VNC_NO_PASSWORD: 1
SCREEN_WIDTH: {{ changedetect.selenium.screen.width }}
SCREEN_HEIGHT: {{ changedetect.selenium.screen.height }}
SCREEN_DEPTH: {{ changedetect.selenium.screen.depth }}
{%- endload %}

{% for var, val in envvars.items() %}
{%-   if val %}
{{ var }}={{ val }}
{%-   endif %}
{%- endfor %}
